#calendar {
    margin-top: 5px;
}

#currentMonth {
    text-align: center;
    text-transform: capitalize;
}

.colHeader {
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

#prevMonth {
    border-radius: 5px;
    border: solid 1px black;
    height: 30px;
    text-align: center;
    cursor: default;
}

#nextMonth {
    border-radius: 5px;
    border: solid 1px black;
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
    cursor: default;
}

.col {
    border: solid 1px silver;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    cursor: default;
    user-select: none;
    z-index: 5;
}

.notInMonth {
    color: gray;
}

.col:nth-child(2n+1) {
    background-color: rgba(212, 212, 212, 0.288);
}

.col:nth-child(2n+2) {
    background-color: rgba(221, 221, 221, 0.171);
}

.col:nth-child(1n+8) {
    height: 100px;
    font-size: x-large;
    padding: 0;
}

.locked {
    background-color: rgb(55, 55, 151);
    height: 30px;
    top: 50%;
    margin-right: -1px;
    margin-left: -1px;
    z-index: 1;
}

.lockedStart {
    border-radius: 10px 0 0 10px;
    margin-left: 5px;
    margin-right: -1px;
}

.lockedEnd {
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
    margin-left: -1px;
}

.lockedStart.lockedEnd {
    border-radius: 10px 10px 10px 10px;
    margin-right: 5px;
    margin-left: 5px;
}